html {
    background-image: url("https://img.freepik.com/premium-vector/circuit-board-background_102902-2837n.jpg?w=2000");
}

body {
    max-width: 70em;
    margin: auto;
    border: 5px;
    box-sizing: border-box;
    border-color: black;
    background-color: #A5CBC3;
}

header {
    margin-top: 1rem;
}

hr.separate {
    border: 1px dashed gray;
}

.dropdown {
    margin-left: auto;
}

.navigation {
    background-color: gray;
    border-radius: 5px;
    padding: 0,5%;
    margin: 2px;
}

.shadow {
    box-shadow: 3px 2px 2px black;
}

.navigation-text {
    color: white;
}

.navigation-text:hover {
    color: blue;
}

.article-preview {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;
}

.article-preview-image {
    max-width: 13rem;
    min-width: 13rem;
}

.big-separator {
     background: rgb(151,34,195);
     background: linear-gradient(0deg, rgba(151,34,195,1) 0%, rgba(253,95,45,1) 100%); 
}
