html {
    background-image: url("https://img.freepik.com/premium-vector/circuit-board-background_102902-2837.jpg?w=2000");
}

body {
    max-width: 70em;
    margin: auto;
    border: 5px;
    box-sizing: border-box;
    border-color: black;
    background-color: #A5CBC3;
}

header {
    margin-top: 1rem;
}

hr.separate {
    style: dashed 1px;
}

hr.end {
    style: 1px;
}

.dropdown {
    margin-left: auto;
}

.navigation {
    background-color: gray;
    border-radius: 5px;
    padding: 0,5%;
    margin: 2px;
}

.shadow {
    box-shadow: 3px 2px 2px black;
}

.navigation-text {
    color: white;
}

.navigation-text:hover {
    color: blue;
}
