html {
     background: rgb(34,193,195);
     background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}

body {
    max-width: 70em;
    margin: auto;
    border: 5px;
    box-sizing: border-box;
    border-color: black;
    background-color: #A5CBC3;
}

header {
    margin-top: 1rem;
}

hr.separate {
    border: 1px dashed gray;
}

.dropdown {
    margin-left: auto;
}

.navigation {
    background-color: gray;
    border-radius: 5px;
    padding: 0,5%;
    margin: 2px;
}

.shadow {
    box-shadow: 3px 2px 2px black;
}

.navigation-text {
    color: white;
}

.navigation-text:hover {
    color: blue;
}

.article-preview {
    position: relative;
    padding: 1rem;
    margin: 0rem -15px 0;
    border: transparent;
    border-width: .2rem 0 0;
}

.article-preview-image {
    max-width: 13rem;
    min-width: 13rem;
}

.big-separator {
    background-color: black;
}

.ascii-art {
    font-size: 0.4rem;
    color: white;
}
