{% extends "base_layout.html" %}

{% block content %}
<div class="text mt-3">
    <h2 class="text-center">FSIC Contribute</h2>
    <p class="text-justify">Here you can find all the options to help us maintain this site and keep us going forward.
        Feel free to donate any amount of money or buy any product that you like. We make them and sell them with love.
        Thank you for all your support.<br> FSIC Team</p>
</div>

<hr class="separate">

<div class="gap"></div>
<div class="container-fluid">
    <h2 class="text-center">Donate</h2>
    <h3 class="text-center"><u>COMING SOON...</u></h3>
</div>
<div class="gap"></div>

<hr class="separate">

<div class="gap"></div>
<div class="container-fluid">
    <h2 class="text-center">Shop</h2>
    <p class="text-justify">BEWARE! These products are limited by amount, so these might not be re-stocked again! To
        view description and price of items, hover over the item. If you want to buy it, just add it to your cart!</p>
    <div class="card shop-item shop-item-show mt-3 mb-3 ml-3 mr-3">
        <img class="card-img-top"
             src="https://www.tuxedocomputers.com/store_files/1/images/product_images/popup_images/1pluesch_tux_30cm_linux_pinguin_01.jpg"
             alt="Tux plushie">
        <div class="card-body card-body-hidden">
            <h5 class="card-title">Tux plushie</h5>
            <p class="card-text">Soft Tux plushie made out of 100% cotton.</p>
            <p class="card-text price">15.99$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card shop-item shop-item-show mt-3 mb-3 ml-3 mr-3">
        <img class="card-img-top"
             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGSvbsxaW-oB0zkb9xlVT1N40CSQPvOLUXYQ&usqp=CAU"
             alt="Ubuntu flash drive">
        <div class="card-body card-body-hidden">
            <h5 class="card-title">Ubuntu flash drive</h5>
            <p class="card-text">Ubuntu GNU/Linux themed flash drive, comes with Ubuntu 22.04 pre-installed, capacity
                8.0 GB</p>
            <p class="card-text price">9.99$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card shop-item shop-item-show mt-3 mb-3 ml-3 mr-3">
        <img class="card-img-top" src="https://i.pinimg.com/originals/0d/fe/66/0dfe66eaaf18b0cfe0584fb1c5756ec2.jpg"
             alt="Debian t-shirt">
        <div class="card-body card-body-hidden">
            <h5 class="card-title">Debian t-shirt</h5>
            <p class="card-text">Debian GNU/Linux themed t-shirt, size M, for females</p>
            <p class="card-text price">25.99$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <div class="card shop-item shop-item-show mt-3 mb-3 ml-3 mr-3">
        <img class="card-img-top" src="https://shop.fsf.org/sites/default/files/styles/product_zoom/public/DSC_7428.JPG"
             alt="GNU plushie">
        <div class="card-body card-body-hidden">
            <h5 class="card-title">GNU plushie</h5>
            <p class="card-text">GNU themed plushie, made out of cotton, stuffed with wool</p>
            <p class="card-text price">13.49$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>
{% endblock %}
