{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center">Create News</h1>
<div class="create-news">
    <div class="card mx-auto" style="width: 70%;">
        <div class="card-body">
            <form class="site-form" action="{% url 'create_news' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Create News" class="mt-2">
            </form>
        </div>
    </div>
</div>
{% endblock %}