{% extends "base_layout.html" %}

{% block content %}
<div class="container-fluid mx-auto">
    <div class="big-separator article-preview">
        <hr class="separate">
        <p>
        <pre class="text-center ascii-art">
IIIIIIIIIINNNNNNNN        NNNNNNNNTTTTTTTTTTTTTTTTTTTTTTTRRRRRRRRRRRRRRRRR        OOOOOOOOO     DDDDDDDDDDDDD       UUUUUUUU     UUUUUUUU       CCCCCCCCCCCCCTTTTTTTTTTTTTTTTTTTTTTTIIIIIIIIII     OOOOOOOOO     NNNNNNNN        NNNNNNNN
I::::::::IN:::::::N       N::::::NT:::::::::::::::::::::TR::::::::::::::::R     OO:::::::::OO   D::::::::::::DDD    U::::::U     U::::::U    CCC::::::::::::CT:::::::::::::::::::::TI::::::::I   OO:::::::::OO   N:::::::N       N::::::N
I::::::::IN::::::::N      N::::::NT:::::::::::::::::::::TR::::::RRRRRR:::::R  OO:::::::::::::OO D:::::::::::::::DD  U::::::U     U::::::U  CC:::::::::::::::CT:::::::::::::::::::::TI::::::::I OO:::::::::::::OO N::::::::N      N::::::N
II::::::IIN:::::::::N     N::::::NT:::::TT:::::::TT:::::TRR:::::R     R:::::RO:::::::OOO:::::::ODDD:::::DDDDD:::::D UU:::::U     U:::::UU C:::::CCCCCCCC::::CT:::::TT:::::::TT:::::TII::::::IIO:::::::OOO:::::::ON:::::::::N     N::::::N
  I::::I  N::::::::::N    N::::::NTTTTTT  T:::::T  TTTTTT  R::::R     R:::::RO::::::O   O::::::O  D:::::D    D:::::D U:::::U     U:::::U C:::::C       CCCCCCTTTTTT  T:::::T  TTTTTT  I::::I  O::::::O   O::::::ON::::::::::N    N::::::N
  I::::I  N:::::::::::N   N::::::N        T:::::T          R::::R     R:::::RO:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON:::::::::::N   N::::::N
  I::::I  N:::::::N::::N  N::::::N        T:::::T          R::::RRRRRR:::::R O:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON:::::::N::::N  N::::::N
  I::::I  N::::::N N::::N N::::::N        T:::::T          R:::::::::::::RR  O:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON::::::N N::::N N::::::N
  I::::I  N::::::N  N::::N:::::::N        T:::::T          R::::RRRRRR:::::R O:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON::::::N  N::::N:::::::N
  I::::I  N::::::N   N:::::::::::N        T:::::T          R::::R     R:::::RO:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON::::::N   N:::::::::::N
  I::::I  N::::::N    N::::::::::N        T:::::T          R::::R     R:::::RO:::::O     O:::::O  D:::::D     D:::::DU:::::D     D:::::UC:::::C                      T:::::T          I::::I  O:::::O     O:::::ON::::::N    N::::::::::N
  I::::I  N::::::N     N:::::::::N        T:::::T          R::::R     R:::::RO::::::O   O::::::O  D:::::D    D:::::D U::::::U   U::::::U C:::::C       CCCCCC        T:::::T          I::::I  O::::::O   O::::::ON::::::N     N:::::::::N
II::::::IIN::::::N      N::::::::N      TT:::::::TT      RR:::::R     R:::::RO:::::::OOO:::::::ODDD:::::DDDDD:::::D  U:::::::UUU:::::::U  C:::::CCCCCCCC::::C      TT:::::::TT      II::::::IIO:::::::OOO:::::::ON::::::N      N::::::::N
I::::::::IN::::::N       N:::::::N      T:::::::::T      R::::::R     R:::::R OO:::::::::::::OO D:::::::::::::::DD    UU:::::::::::::UU    CC:::::::::::::::C      T:::::::::T      I::::::::I OO:::::::::::::OO N::::::N       N:::::::N
I::::::::IN::::::N        N::::::N      T:::::::::T      R::::::R     R:::::R   OO:::::::::OO   D::::::::::::DDD        UU:::::::::UU        CCC::::::::::::C      T:::::::::T      I::::::::I   OO:::::::::OO   N::::::N        N::::::N
IIIIIIIIIINNNNNNNN         NNNNNNN      TTTTTTTTTTT      RRRRRRRR     RRRRRRR     OOOOOOOOO     DDDDDDDDDDDDD             UUUUUUUUU             CCCCCCCCCCCCC      TTTTTTTTTTT      IIIIIIIIII     OOOOOOOOO     NNNNNNNN         NNNNNNN
	  </pre>
        <hr class="separate">
    </div>

    <div class="text mt-3">
        <h2 class="text-center">Welcome to Free Software Information Center!</h2>
        <p class="text-justify">Welcome to our site dedicated to everything about operating systems, especially those
            that are <u>free</u> and <u>open-source</u>. We created this site in 2022 as a team of 6 friends who enjoy
            everything about operating systems. Every website part has a description about what it contains, so you can
            easily navigate through it. On this specific part of the website you can find news about operating system
            from around the world that we update daily. So, what is free software? Free software or libre software,
            infrequently known as freedom-respecting software, is computer software distributed under terms that allow
            users to run the software for any purpose as well as to study, change, and distribute it and any adapted
            versions. Free software is a matter of liberty, not price; all users are legally free to do what they want
            with their copies of a free software (including profiting from them) regardless of how much is paid to
            obtain the program. Computer programs are deemed "free" if they give end-users (not just the developer)
            ultimate control over the software and, subsequently, over their devices.<br><br>The right to study and
            modify a computer program entails that source code—the preferred format for making changes—be made available
            to users of that program. While this is often called "access to source code" or "public availability", the
            Free Software Foundation (FSF) recommends against thinking in those terms, because it might give the
            impression that users have an obligation (as opposed to a right) to give non-users a copy of the
            program.<br><br>Although the term "free software" had already been used loosely in the past and other
            permissive software like the Berkeley Software Distribution released in 1978 existed, Richard Stallman is
            credited with tying it to the sense under discussion and starting the free software movement in 1983, when
            he launched the GNU Project: a collaborative effort to create a freedom-respecting operating system, and to
            revive the spirit of cooperation once prevalent among hackers during the early days of computing.<br><br>What
            is open-source? Open source is source code that is made freely available for possible modification and
            redistribution. Products include permission to use the source code, design documents, or content of the
            product. The open-source model is a decentralized software development model that encourages open
            collaboration. A main principle of open-source software development is peer production, with products such
            as source code, blueprints, and documentation freely available to the public. The open-source movement in
            software began as a response to the limitations of proprietary code. The model is used for projects such as
            in open-source appropriate technology, and open-source drug discovery.<br><br>Open source promotes universal
            access via an open-source or free license to a product's design or blueprint, and universal redistribution
            of that design or blueprint. Before the phrase open source became widely adopted, developers and producers
            have used a variety of other terms. Open source gained hold with the rise of the Internet. The open-source
            software movement arose to clarify copyright, licensing, domain, and consumer issues.<br><br>Generally, open
            source refers to a computer program in which the source code is available to the general public for use or
            modification from its original design. Code is released under the terms of a software license. Depending on
            the license terms, others may then download, modify, and publish their version (fork) back to the community.<br><br>Many
            large formal institutions have sprung up to support the development of the open-source movement, including
            the Apache Software Foundation, which supports community projects such as the open-source framework Apache
            Hadoop and the open-source HTTP server Apache HTTP.
    </div>

    <div class="big-separator article-preview">
        <hr class="separate">
        <p>
        <pre class="text-center ascii-art">
NNNNNNNN        NNNNNNNNEEEEEEEEEEEEEEEEEEEEEEWWWWWWWW                           WWWWWWWW   SSSSSSSSSSSSSSS
N:::::::N       N::::::NE::::::::::::::::::::EW::::::W                           W::::::W SS:::::::::::::::S
N::::::::N      N::::::NE::::::::::::::::::::EW::::::W                           W::::::WS:::::SSSSSS::::::S
N:::::::::N     N::::::NEE::::::EEEEEEEEE::::EW::::::W                           W::::::WS:::::S     SSSSSSS
N::::::::::N    N::::::N  E:::::E       EEEEEE W:::::W           WWWWW           W:::::W S:::::S
N:::::::::::N   N::::::N  E:::::E               W:::::W         W:::::W         W:::::W  S:::::S
N:::::::N::::N  N::::::N  E::::::EEEEEEEEEE      W:::::W       W:::::::W       W:::::W    S::::SSSS
N::::::N N::::N N::::::N  E:::::::::::::::E       W:::::W     W:::::::::W     W:::::W      SS::::::SSSSS
N::::::N  N::::N:::::::N  E:::::::::::::::E        W:::::W   W:::::W:::::W   W:::::W         SSS::::::::SS
N::::::N   N:::::::::::N  E::::::EEEEEEEEEE         W:::::W W:::::W W:::::W W:::::W             SSSSSS::::S
N::::::N    N::::::::::N  E:::::E                    W:::::W:::::W   W:::::W:::::W                   S:::::S
N::::::N     N:::::::::N  E:::::E       EEEEEE        W:::::::::W     W:::::::::W                    S:::::S
N::::::N      N::::::::NEE::::::EEEEEEEE:::::E         W:::::::W       W:::::::W         SSSSSSS     S:::::S
N::::::N       N:::::::NE::::::::::::::::::::E          W:::::W         W:::::W          S::::::SSSSSS:::::S
N::::::N        N::::::NE::::::::::::::::::::E           W:::W           W:::W           S:::::::::::::::SS
NNNNNNNN         NNNNNNNEEEEEEEEEEEEEEEEEEEEEE            WWW             WWW             SSSSSSSSSSSSSSS
	  </pre>
        <hr class="separate">
    </div>
    <div class="news">
        {% for article in news %}
        <div class="media position-relative article-preview">
            {% if article.media %}
            <video controls="controls" crossorigin="anonymous"
                   poster="{{ article.preview }}"
                   class="mr-3 mb-3 article-preview-image">
                <source src="{{ article.media }}"
                        type="video/webm">
            </video>
            {% else %}
            <img src="{{ article.preview }}"
                 class="mr-3 mb-3 article-preview-image" alt="article-preview">
            {% endif %}

            <div class="media-body">
                <h5 class="mt-0">{{ article.title }}</h5>
                <p>{{ article.text }}</p>
                <div class="inline-block">
                    <div class="btn">
                        <a href="{{ article.source }}"
                           class="stretched-link">Visit site</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="btn btn-danger float-right news-button mr-3 mt-2">
                        <a href="{% url 'delete_news' article.id %}">Delete News</a>
                    </div>
                    <div class="btn btn-warning float-right news-button mr-3 mt-2">
                        <a href="{% url 'edit_news' article.id %}">Edit News</a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <div class="text-center">
            <div class="btn btn-success news-button">
                <a href="{% url 'create_news' %}">Add News</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
