{% extends "base_layout.html" %}
{% load static %}

{% block content %}
    <script>
        let CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <div class="gap"></div>
    <div class="container-fluid">
        <h2 class="text-center">Shopping Cart</h2>
        <div class="row d-flex justify-content-center align-items-center h-100 shopping-cart">
            <div class="col-10 " id="products-parent">
                <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                        <div class="form-outline flex-fill">
                            <input type="text" id="form1" class="form-control form-control-lg"/>
                            <label class="form-label" for="form1">Discount code</label>
                        </div>
                        <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-3">
                            <h5 id="cart-price" class="mb-0 cart-price">0</h5>
                            <h5 class="mb-0">$</h5>
                        </div>
                        <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="gap"></div>

    <script src="{% static 'cart_update.js' %}"></script>
{% endblock %}
