{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center">Edit gallery</h1>
<div class="edit-gallery">
    {% for dict in data %}
    <div class="card mx-auto mb-5" style="width: 70%;">
        <div class="card-body">
            {% if dict.id %}
            <form class="site-form" action="{% url 'gallery:edit_gallery_item' gallery_item_id=dict.id %}"
                  method="post">
                {% csrf_token %}
                {{ dict.form|crispy }}
                <input class="btn news-button btn-warning mt-3 mr-1" type="submit" value="Edit gallery item">
                <div class="btn btn-danger news-button mt-3 mr-1">
                    <a href="{% url 'gallery:delete_gallery_item' gallery_item_id=dict.id %}">Delete gallery
                        item</a>
                </div>
            </form>

            {% else %}
            <form class="site-form" action="{% url 'gallery:create_gallery_item' %}" method="post">
                {% csrf_token %}
                {{ dict.form|crispy }}
                <input class="btn news-button btn-success mt-3 mr-1" type="submit" value="Add new gallery item">
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}